@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.play-text {
    font-size: 200px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    animation: backgroundGradient 15s infinite alternate;
    background-size: 400%;
    background-image: url('https://raw.githubusercontent.com/Kushagrabainsla/play/master/public/social_picture.webp');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
